<!DOCTYPE html>
{% load staticfiles %}
{% load like_tags %}
{% load comment_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="panel-body">
{#            {% for blog in page_of_blogs %}#}
{#                <div class="blog">#}
{#                    <h3><a href="{% url 'blog:detail' blog.id %}">#}
{#                        {{ blog.title }}</a>#}
{#                    </h3>#}
{##}
{#                    <div class="blog-info">#}
{#                        <span class="glyphicon glyphicon-tags"></span>#}
{#                        <a href="{% url 'blog:blog_type'  blog.blog_type %}">{{ blog.blog_type }}</a>#}
{#                        发表日期：{{ blog.create_time|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;#}
{#                        阅读({{ blog.get_read_num }})&nbsp;&nbsp;#}
{#                        评论({% get_comment_count blog %})#}
{#                        点赞数量({% get_like_count blog %})#}
{#                    </div>#}
{#                    <p>{{ blog.content|safe|truncatechars:30 }}</p>#}
{#                </div>#}
{#            {% empty %}#}
{#                <div class="blog">#}
{#                    <h3>暂无博客，敬请期待</h3>#}
{#                </div>#}
{#            {% endfor %}#}
            {% for blog in page %}
                <div class="blog">
                    <h3><a href="{% url 'blog:detail' blog.object.id %}">
                        {{ blog.object.title }}</a>
                    </h3>
                    <p>{{ blog.object.content|safe|truncatechars:30 }}</p>
                </div>
            {% empty %}
                <div class="blog">
                    <h3>暂无博客，敬请期待</h3>
                </div>
            {% endfor %}

</div>

{#<div class="pagenation">#}
{#    {% if page.has_previous %}#}
{#        <a href="/search?q={{ query }}&page={{ page.previous_page_number }}">#}
{#            上一页#}
{#        </a>#}
{#    {% endif %}#}
{#    {% for pindex in paginator.page_range %}#}
{#        {% if pindex == page.number %}#}
{#            <a href="/search?q={{ query }}&page={{ pindex }}" class="active">{{ pindex }}</a>#}
{#        {% else %}#}
{#            <a href="/search?q={{ query }}&page={{ pindex }}">{{ pindex }}</a>#}
{#        {% endif %}#}
{#    {% endfor %}#}
{#    {% if spage.has_next %}#}
{#        <a href="/search?q={{ query }}&page={{ page.next_page_number }}"#}
{#           下一页#}
{#        </a>#}
{#    {% endif %}#}
{#</div>#}
</body>
</html>